@import "/public/fonts/Inter/stylesheet.css";
:root {
    --white: #fff;
    --blc: #1e1e1e;
    --new-blue: #00aeef;
    --orange: #f7941d;
    --bg-title: #00aeef;
    --f2: #f2f2f2;
}
:root {
    --font-family: "Inter", sans-serif;
}
